## 1- Change Tuple Values

- Convert the tuple into a list to be able to change it:

In [3]:
x = ("apple", "banana", "cherry")

y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

## 2- Add Items

- Convert the tuple into a list, add "orange", and convert it back into a tuple:

In [4]:
thistuple = ("apple", "banana", "cherry")

y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

- Create a new tuple with the value "orange", and add that tuple:

In [6]:
thistuple = ("apple", "banana", "cherry")

y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

## 3- Remove Items

- Convert the tuple into a list, remove "apple", and convert it back into a tuple:

In [7]:
thistuple = ("apple", "banana", "cherry")

y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

In [9]:
thistuple = ("apple", "banana", "cherry")

del thistuple

#this will raise an error because the tuple no longer exists
print(thistuple)

NameError: name 'thistuple' is not defined