## Set

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

## Duplicates NOT Allowed

- Duplicate values will be ignored:

In [2]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'cherry', 'banana', 'apple'}

- True and 1 is considered the same value:

In [3]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{True, 2, 'banana', 'cherry', 'apple'}

- False and 0 is considered the same value:

In [5]:
thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

{False, True, 'banana', 'cherry', 'apple'}

## Get the Lenght of a Set

In [6]:
thissset = {"apple", "banana", "cherry"}
print(len(thisset))

5

## Set Items - Data Types

- String, int and boolean data types:

In [10]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 4, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'cherry', 'banana', 'apple'}
{1, 3, 4, 5}
{False, True}

- A set with strings, integers and boolean values:

In [11]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 40, 'male', 'abc'}

## type()

In [12]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

## The set() Constructor

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets

print(thisset)

TypeError: 'set' object is not callable